* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: large;
}

body {
  font-family: Arial;
  padding: 20px;
  background-color: beige;
  width: 1320px;
  margin: 20px auto;
}

.header {
  background-color: #ff70a6;
  color: white;
  overflow: hidden; /* Clear floats */
}

.logo {
  float: left;
  padding: 10px 20px;
}

.navbar {
  float: right;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline;
}

.navbar li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.navbar li a:hover {
  background-color: pink;
  color:rgba(146, 45, 104, 0.598);
}

a {
  text-decoration: none;
}

.leftcolumn {
  float: left;
  width: 70%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 30%;
  padding-left: 20px;
}

/* home-about*/
.home-about {
  background-color: #aaa;
  width: 400px;
  height: 500px;
  padding: 20px;
}
.home-about {
  background: url(./images/kitchen.jpg);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
}


/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ff70a6;
  margin-top: 20px;
  color: white;
}

.img1 {
  background: url(./images/image1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}

.img2 {
  background: url(./images/image2.jpg);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
}

.navbar li a:active {
  color: green;
  background-color: aqua;
}


@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* About */

.about-container {
  position: relative;
  padding: 20px;
  margin-top: 20px;
}

.about-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./images/background.jpg'); 
  background-size: cover;
  background-position: center;
  opacity: 1;
}

.about-content {
  position: relative;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
}

.about-content h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.about-content p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}


/* Gallery */

.gallery {
  display: block;
  margin: 20px auto;
  max-width: 800px; 
}

.gallery a {
  display: inline-block;
  margin: 5px;
  position: relative;
}

.gallery img {
  width: 250px; 
  height: 150px;
}

.gallery p img{
  width: 250px; 
  height: 250px;
}


/* Contact Page Styles */

/* Form Container */
.content {
  text-align: center;
}

/* Form Styles */
form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff0f3;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  height: 150px; /* Adjust height as needed */
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #333;
  color: #edc3f9;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #555;
}

.week3 {
  border: 1px solid black;
  height: 250px;
  width: 600px;
  background-color: #ffccd5;
  padding: 30px;
}
.week4 {
  border: 1px solid black;
  height: 250px;
  width: 600px;
  background-color: #ffccd5;
  padding: 30px;
}
.week5 {
  border: 1px solid black;
  height: 250px;
  width: 600px;
  background-color: #ffccd5;
  padding: 30px;
}
.week6 {
  border: 1px solid black;
  height: 250px;
  width: 600px;
  background-color: #ffccd5;
  padding: 30px;
}
.week7 {
  border: 1px solid black;
  height: 250px;
  width: 600px;
  background-color: #ffccd5;
  padding: 30px;
}
.week8 {
  border: 1px solid black;
  height: 250px;
  width: 600px;
  background-color: #ffccd5;
  padding: 30px;
}
.week9 {
  border: 1px solid black;
  height: 250px;
  width: 600px;
  background-color: #ffccd5;
  padding: 30px;
}
.week10 {
  border: 1px solid black;
  height: 380px;
  width: 600px;
  background-color: #ffccd5;
  padding: 30px;
}

/* All Recipe */

.burrito_img {
  background: url(./images/burritos.jpg);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
}

.lasagna_img {
  background: url(./images/lasagna.jpg);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
}

.margherita_img {
  background: url(./images/margherita.jpg);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
}
.sourdough_img {
  background: url(./images/sourdough.jpg);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
}
.onigiri_img {
  background: url(./images/Onigiri.jpg);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
}
.matcha_img {
  background: url(./images/Matcha.jpg);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
}
.tiramisu_img {
  background: url(./images/Tiramisu.jpg);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
}
.yakitori_img {
  background: url(./images/Yakitori.jpg);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
}